body, section {
	width: 600px;
	height: 450px;
	overflow-x: hidden;
}
*.page-header {
	font-weight: bold;
	padding-bottom: 9px;
	margin: 14px 0 10px;
	border-bottom: 1px solid #eee;
}
*.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #0c6767;
    font-size: 10px;
}

.btn-home, .btn-home:hover {
    color: #fff;
    background-color: #34495e;
    border-color: #2c3e50;
}

.btn-logs, .btn-logs:hover {
    color: #fff;
    background-color: #16a085;
    border-color: #1abc9c;
}

.btn-bug, .btn-bug:hover{
    color: #fff;
    background-color: #2980b9;
    border-color: #3498db;
}
.btn[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .80;
	filter: alpha(opacity=80);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.fa-external-link-square, .fa-times-circle{ cursor: pointer; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: green; }