<!doctype html>
<html>
	<head>
		<title>Oopsifier collection</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/custom.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body id='app'>
		
		<application></application>

		<!-- Templates below -->
		<template id="application">
			<div class="container" style="margin: 5px 0 0;">
				<div class="row">
					<div class="col-md-12">
						<div class="btn-group pull-left" role="group">
							<button @click="tab = 'home'" type="button" class="btn btn-home btn-sm" :disabled="tab == 'home'">Home</button>
							<button @click="tab = 'logs'" type="button" class="btn btn-logs btn-sm" :disabled="tab == 'logs'">Logs</button>
						</div>
						<div class="btn-group pull-right" role="group">
							<button @click="submitIssueToSource" type="button" class="btn btn-bug btn-sm">Report a bug</button>
						</div>
					</div>
				</div>
				<div class="row">
					<home v-if="tab == 'home'" :rows.sync="rows"></home>
					<log v-if="tab == 'logs'" :rows.sync="rows"></log>
				</div>
			</div>
		</template>

		<template id="home">
			<search-bar :filter-text.sync="filterText"></search-bar>
			<filter-list :filter-text.sync="filterText" :rows="rows"></filter-list>
		</template>

		<template id="log">
			<div class="col-md-12">
				<report v-for="row in rows" :row="row" v-if="showReport != 0"></report>
				<h4 class="text-info text-center">Nothing found on filter list.</h4>
			</div>
		</template>

		<template id="search-bar">
			<div class="col-md-12" style="margin-top: 5px;">
				<form @submit.prevent="addItemToList">
					<div class="input-group">
						<input class="form-control" autocomplete="off" type="text"  id="text" placeholder="Add to list or filter" v-model="filterText">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" :disabled="!filterText.trim()" @click="addItemToList">
								<i class="fa fa-plus-square text-success"></i>
							</button> 
						</div>
					</div>
				</form>
			</div>
		</template>

		<template id="filter-list">
			<div class="col-md-12" v-if="rows.length">
				<div v-if="!filteredRows.length">
					<h4 class="text-center text-info">Nothing found for - "{{ filterText }}".</h4>
				</div>
				<div v-else>
					<h5 class="page-header">Filter list ({{ filteredRows.length }}): </h5>
					<div class="col-md-12">
						<!-- row in rows | filterBy filterText -->
						<div v-for="row in filteredRows" style="margin: 2px 0;">
							<user-collection :row="row"></user-collection>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" v-else>
				<h4 class="text-center text-info">Nothing is saved to filter.</h4>
			</div>
		</template>

		<template id="user-collection">
			<form @submit.prevent="updateItem(row.key)">
				<div class="row">
					<div class="input-group">
						<input class="form-control" value="{{row.key}}" v-model="newFilterText">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" :disabled="!newFilterText.trim()" @click="updateItem(row.key)">
								<i class="fa fa-pencil-square text-success"></i>
							</button> 
							<button type="button" class="btn btn-default" @click="deleteItem(row.key)">
								<i class="fa fa-times-circle text-danger"></i>
							</button>
						</div>
					</div>
					<p class="help-block text-info" v-if="previousText != newFilterText">Press enter or button to update.</p>
				</div>
			</form>
		</template>

		<template id="report">
			<table class="table table-bordered" v-if="row.removed.length">
				<caption>{{ row.key }}</caption>
				<tr>
					<th>Links({{ row.removed.length }})</th>
				</tr>
				<tr>
					<td>
						<ol>
							<li v-for="link in row.removed">
								<a href="#" @click.prevent="openUrl(link)">{{link.substring(0, 70)}}</a>
							</li>
						</ol>
					</td>
				</tr>
			</table>
		</template>

		<!-- Templates end here -->
		<script type="text/javascript" src='js/vue-csp.min.js'></script>
		<script type="text/javascript" src='js/moment.min.js'></script>
		<script type="text/javascript" src="js/application.js"></script>
	</body>
</html>