<!doctype html>
<html>
	<head>
		<title>Oopsifier collection</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/custom.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body id='app'>
		<div class="container">
			<div class="row">
				<div v-if="selectedTab == 'home'">
					<home :selected-tab.sync="selectedTab"></home>
				</div>
				<div v-if="selectedTab == 'log'">
					<log :selected-tab.sync="selectedTab"></log>
				</div>
			</div>
		</div>


		<!-- Templates below -->
		<template id='home'>
			<div class="col-md-12" style="margin: 10px 0 0;">
				<div class="col-md-12">
					<!-- <button @click="selectedTab = 'log'" class='btn btn-info btn-sm pull-right'>Log</button> -->
				</div>
				<div class="clearfix"></div>
				<search-bar></search-bar>
				<filter-list :rows="rows"></filter-list>
			</div>
		</template>

		<template id='log'>
			<div class="col-md-12">
				<div class="col-md-12">
					<button @click="selectedTab = 'home'" class='btn btn-default btn-sm'>Home</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</template>

		<template id="search-bar">
			<div class="col-md-12">
				<form @submit.prevent="addItemToList">
					<div class="input-group">
						<input class="form-control" autocomplete="off" type="text"  id="text" placeholder="Add to list or filter" v-model="filterText">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" :disabled="!filterText.trim()" @click="addItemToList">
								<i class="fa fa-plus-square text-success"></i>
							</button> 
						</div>
					</div>
				</form>
			</div>
		</template>

		<template id="filter-list">
			<div class="col-md-12" v-if="rows.length">
				<div v-if="!filteredRows.length">
					<h4 class="text-center text-info">Nothing found with "{{ text }}".</h4>
				</div>
				<div v-else>
					<h5 class="page-header">Restriction list: </h5>
					<div class="col-md-12">
						<div v-for="row in rows | filterBy text" style="margin: 2px 0;">
							<user-collection :row="row"></user-collection>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" v-else>
				<h4 class="text-center text-info">Nothing is saved to match.</h4>
			</div>
		</template>

		<template id="user-collection">
			<form @submit.prevent="updateItem(row.key)">
				<div class="row">
					<div class="input-group">
						<input class="form-control" value="{{row.key}}" v-model="newFilterText">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" :disabled="!newFilterText.trim()" @click="updateItem(row.key)">
								<i class="fa fa-pencil-square text-success"></i>
							</button> 
							<button type="button" class="btn btn-default" @click="deleteItem(row.key)">
								<i class="fa fa-times-circle text-danger"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</template>
		<!-- Templates end here -->
		<script type="text/javascript" src='js/vue-csp.min.js'></script>
		<script type="text/javascript" src='js/moment.min.js'></script>
		<script type="text/javascript" src="js/application.js"></script>
	</body>
</html>