<!doctype html>
<html>
	<head>
		<title>Oopsifier collection</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/custom.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body id='app'>
		<div class="container" style="margin-top: 10px;">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<form @submit.prevent="addToList">
							<div class="input-group">
								<input class="form-control" autocomplete="off" type="text"  id="text" placeholder="Add to list or filter" v-model="text">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" :disabled="!text.trim()" @click="addToList">
										<i class="fa fa-plus-square text-success"></i>
									</button> 
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" v-if="rows.length">
						<div v-if="!filteredRows.length">
							<h4 class="text-center text-info">Nothing found with "{{ text }}".</h4>
						</div>
						<div v-else>
							<h5 class="page-header">Restriction list: </h5>
							<div class="col-md-12">
								<div v-for="row in rows | filterBy text" style="margin: 2px 0;">
									<user-collection :row="row"></user-collection>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" v-else>
						<h4 class="text-center text-info">Nothing is saved to match.</h4>
					</div>
				</div>
			</div>	
		</div>
		<template id="user-collection">
			<form @submit.prevent="updateCollectionText(row.key)">
				<div class="row">
					<div class="input-group">
						<input class="form-control" value="{{row.text}}" v-model="newCollectionText">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default" :disabled="!newCollectionText.trim()" @click="updateCollectionText(row.key)">
								<i class="fa fa-pencil-square text-success"></i>
							</button> 
							<button type="button" class="btn btn-default" @click="deleteText(row.key)">
								<i class="fa fa-times-circle text-danger"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</template>
		<script type="text/javascript" src='js/vue-csp.min.js'></script>
		<script type="text/javascript" src='js/moment.min.js'></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>